<%- include('./partials/header.ejs') %>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fa fa-film"></i> Add Movies
            </h1>
            <%- include ("./partials/messages") %>
            <form action="/movies/upload" method="POST">
                <div class="form-group">
                    <label for="name">Title</label>
                    <input
                        type="name"
                        id="name"
                        name="name"
                        class="form-control"
                        placeholder="Enter Title"
                        value="<%= typeof name != 'undefined' ? name : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input
                        type="text"
                        id="genre"
                        name="genre"
                        class="form-control"
                        placeholder="Genre"
                        value="<%= typeof genre != 'undefined' ? genre : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="year">Year</label>
                    <input
                        type="text"
                        id="year"
                        name="year"
                        class="form-control"
                        placeholder="Year"
                        value="<%= typeof year != 'undefined' ? year : '' %>"
                    />
                </div>
                <button type="submit" class="btn btn-info btn-block">
                    Add
                </button>
            </form>
        </div>
    </div>
</div>
